.prsection {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

.formContainer {
  position: absolute;
  padding: 20px;
  background: #222;
  color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
}

.formTitle {
  text-align: center;
  color: #fdd835;
  font-size: 3rem;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 30px;
}

.formSubmit {
  background-color: #fdd835;
  color: #2d3e50;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
